.heroRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.heroParagraph{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.heroSidePict{
    width: 308px;
    height: 200px;
    position: relative;
}
img{
    width: 308px;
    height: 200px;
    position: absolute;

    background:lightgray 50% / contain no-repeat;

}

.imgBorder{
    width: 308px;
    height: 200px;
    flex-shrink: 0;
    position: relative;

    background: var(--black, #1C1C1C);
}