.footer1 {
   
    padding: 2rem;
    background: purple;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-width:100%;
    text-align: center;
    justify-content: center;
    margin-top: auto;
  }